* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100%;
}





/* Navbar edit */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 20px;
}


/* Header edit */

header {
    background: url('gambar/bg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

span {
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #120F1A;
    top: -20px;
    display: inline-block;
    text-shadow: 
        0 1px 0 #b7b7b7, 
        0 2px 0 #af1c1c, 
        0 3px 0 #be0e0e,
        0 4px 0 #b60e0e,
        0 5px 0 #a11e1e, 
        0 6px 0 transparent, 0 7px 0 transparent,
        0 8px 0 transparent, 0 9px 0 transparent,
        0 10px 10px rgba(0,0,0,0.5);
    animation: bounce 0.4s ease infinite alternate;
    }

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    animation-delay: 0.6s;
}

h1 span:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes bounce {
    100% {
        top: -60px;
        text-shadow: 
            0 1px 0 #b7b7b7, 
            0 2px 0 #b7b7b7, 
            0 3px 0 #b7b7b7,
            0 4px 0 #b7b7b7,
            0 5px 0 #b7b7b7, 
            0 6px 0 #b7b7b7, 
            0 7px 0 #b7b7b7,
            0 8px 0 #b7b7b7,
            0 9px 0 #b7b7b7,
            0 50px 25px rgba(0,0,0,0.5);
    }
}


/* Section 1 edit */

.section1 {
    display: flex;
    flex-direction: row;
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    text-align: left;
    height: 100vh;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.about-desc {
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about-desc h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.about-desc p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.about-img {
    flex: 1;
    height: 100%;
    background-image: url(gambar/SherlockHolmes.jpg);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
