* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100%;
}





/* Navbar edit */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 20px;
}


/* Header edit */

header {
    background: url('gambar/bg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

span {
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #120F1A;
    top: -20px;
    display: inline-block;
    text-shadow: 
        0 1px 0 #b7b7b7, 
        0 2px 0 #af1c1c, 
        0 3px 0 #be0e0e,
        0 4px 0 #b60e0e,
        0 5px 0 #a11e1e, 
        0 6px 0 transparent, 0 7px 0 transparent,
        0 8px 0 transparent, 0 9px 0 transparent,
        0 10px 10px rgba(0,0,0,0.5);
    animation: bounce 0.4s ease infinite alternate;
    }

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    animation-delay: 0.6s;
}

h1 span:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes bounce {
    100% {
        top: -60px;
        text-shadow: 
            0 1px 0 #b7b7b7, 
            0 2px 0 #b7b7b7, 
            0 3px 0 #b7b7b7,
            0 4px 0 #b7b7b7,
            0 5px 0 #b7b7b7, 
            0 6px 0 #b7b7b7, 
            0 7px 0 #b7b7b7,
            0 8px 0 #b7b7b7,
            0 9px 0 #b7b7b7,
            0 50px 25px rgba(0,0,0,0.5);
    }
}


/* Section 1 edit */

.section1 {
    display: flex;
    padding: 4rem 2rem;
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    text-align: center;
    height: 100vh;
    font-size: 24px;
    justify-content: center;
    color: whitesmoke;
    gap: 20px;
}

.box1 , .box3 , .box2{
    display: flex;
    align-items: center;
    justify-content: center; 
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
}

.box1 p, .box2 p, .box3 p {
    position: relative;
    padding: 20px;
    border-radius: 16px;
    opacity: 1;
    font-size: 20px;
    background: linear-gradient(to right, #999 20%, #fff 40%, #fff 60%, #999 80%);
    background-size: 200% auto;
    background-color: #141218;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
    font-weight: bold;
}

.box3 {
    position: relative;
    top: -100px;
}

.box1 {
    width: 700px;
}

.box2 {
    flex: 1;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;    
}

.box2 img {
    border-radius: 24px;
}

.box2 p {
    position: relative;
    left: 70px;
}

.box1 p:hover, .box2 img:hover, .box2 p:hover, .box3 p:hover{
    transform: scale(1.05);
    transition: transform 0.7s ease;
    opacity: 1;
    background-color: #141218;
}