* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100%;
}





/* Navbar edit */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 20px;
}


/* Header edit */

header {
    background: url('gambar/bg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
}

.showcase {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.title {
    width: 100%;
    height: 100%;
    background-color: #120F1A;
    font-size: 150px;
    mix-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section 1 edit */

.section1 {
    display: flex;
    flex-direction: row;
    background-image: url(gambar/bg2.jpg);
    background-size: cover;
    text-align: left;
    height: 100vh;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.about-desc {
    flex: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about-desc h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.about-desc p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.about-img {
    flex: 1;
    height: 100%;
    background-image: url(gambar/SherlockHolmes.jpg);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
