* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
}

.left-content {
    flex: 2;
    background-color: lightblue;
    padding: 20px;
}

.title-project {
    height: 50%;
    background-color: coral;
    margin-bottom: 20px;
}

.desc-project {
    height: 40%;
    background-color: lightcoral;
}

.right-content {
    flex: 1;
    background-color: lightgreen;
    padding: 20px;
}